<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1"> 
        <link rel ="stylesheet" type="text/css" href ="./bootstrap-5.1.0-dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href= "index.css">
        <title>
            Enthralls
        </title>
    </head>

    <body>
      
            <nav class="navbar navbar-expand-lg navbar-light" id="shift">
                <div class="navbar-brand" href="#"><img src="enr23-03 - Copy (2).png" id="brand"></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
    
    
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" id="center" href="index.html"><em>HOME</em></a>
                    </li>
                    
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" id="about" data-bs-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">ABOUT US<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#section-ceo" class="drop-one">CEO'S PROFILE</a></li>
                                <li><a href="#section-company" class="drop-one">COMPANY PROFILE</a></li>
                                <li><a href="#section-board" class="drop-one">BOARD MEMBERS</a></li>
                                <li><a href="#section-team" class="drop-one">TEAM MEMBERS</a></li>
                            </ul>
                    
                    
                        
                        
         <!-- <div class="sub-menu-1">
            <ul class="navbar-nav  ml-auto">
                <li class="nav-item"><a href="">CEO's PROFILE</a></li>
                <li class="nav-item"><a href="#">COMPANY PROFILE</a></li>
                <li class="nav-item"><a href="aboutus.html">OUR TEAM</a></li>
            </ul>
        </div>-->
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="about" data-bs-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">SERVICES<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="Services.html" class="drop-one">WEB DESIGN AND DEVELOPMENT</a></li>
                            <li><a href="Services.html" class="drop-one">GRAPHIC DESIGN</a></li>
                            <li><a href="Services.html" class="drop-one">DIGITAL MARKETING</a></li>
                            <li><a href="Services.html" class="drop-one">SEO</a></li>
                            <li><a href="Services.html" class="drop-one">MOBILE APP DEVELOPMENT</a></li>
                            <li><a href="Services.html" class="drop-one">CONTENT WRITING</a></li>
                            <li><a href="Services.html" class="drop-one">LOGO DESIGN</a></li>
                        </ul>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" id="about" data-bs-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">PRODUCT<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="product.html" class="drop-one">ARTIFICIAL INTELLIGENCE</a></li>
                                <li><a href="product.html" class="drop-one">AUTOMATION</a></li>
                                <li><a href="product.html" class="drop-one">BUSINESS OPERATIONS</a></li>
                                <li><a href="product.html" class="drop-one">CLOUD COMPUTING</a></li>
                                <li><a href="product.html" class="drop-one">DATA AND ANALYTICS</a></li>
                                <li><a href="product.html" class="drop-one">IT INFRASTRUCTURE</a></li>
                                <li><a href="product.html" class="drop-one">SUPPLY CHAIN</a></li>
                            </ul>
                    <li class="nav-item">
                        <a class="nav-link" id="center" href="#"><em>CONTACT</em></a>
                      </li>
                  </ul>
              </nav>
             

              <h1 class="touch">ABOUT US</h1>
              <div class="container">
                  <div class="row">
                      <div class="col">
              <p><em>loremk kndkjf jhdjijf jdjifisj  jjsrid mjwgiue ,uihehki hkerjhw jhgygwieuhw kgueuhjajh  iugeygiuwvwij<br>
            dhkdkj jhruigeuh gywhj9wb jhrygwuh wiirgwuyg jwuriuyhwu jriuwhk hwiukuwj jrhweh djhdkj jnejjhei rjheijhe<br>
        hdjjd lorem ipsum is a man who wen threr to the place where he was supposed to be using tem then who is a <br>
    dhfok wherr did they go t use the work form and the woman and her child is here now. <br>
loem ipsum lorem ep dum bun dun lorem ipsum oluymun konyt dhdfkd skjhld dknhfld kdjhfnlfd kdjkjhld djnd jdjd dkjndjk</em></p>
<hr>
              </div>

              <div class="col">
                <video width="550" height="380"  class="video" controls>
                    <source src="img/enrahlis.mp4" type="video/mp4">
                    <source src="enrahlis.ogg" type="video/ogg">
                  </video>
              </div>
            </div>
        </div>

<section id="section-ceo">
    <h1 class="touch"><em>CEO'S PROFILE</em></h1>
<div id="ceo">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="img/realboss.jpg" class="ceo">
            </div>
            <div class="col">
                <p><em>My name is Adewale Mako. The CEO and senior software developer of Enrahlis Technology<br>
                and solution. I am a native of Ogun state. Ihave B.Sc degree in Computer Science and<br>
                Master's of Business administration (MBA) in international business<br>
            Enrahlis Head Office is located at Lagos state, Nigeria</em></p>
        <hr>
            </div>
        </div>
    </div>  
</div>
</section>

<section id="section-company">
    <h1 class="touch">COMPANY PROFILE</h1>
<div class="container">
    <div class="row">
        <div class="col">
          <p><em>loremk kndkjf jhdjijf jdjifisj  jjsrid mjwgiue ,uihehki hkerjhw jhgygwieuhw kgueuhjajh  iugeygiuwvwij<br>
                dhkdkj jhruigeuh gywhj9wb jhrygwuh wiirgwuyg jwuriuyhwu jriuwhk hwiukuwj jrhweh djhdkj jnejjhei rjheijhe<br>
            hdjjd lrem ipsum is a man who wen threr to the place where he was supposed to be using tem then who is a <br>
        dhfok wherr did they go t use the work form and the woman and her child is here now. <br>
    loem ipsum lorem ep dum bun dun lorem ipsum oluymun konyt dhdfkd skjhld dknhfld kdjhfnlfd kdjkjhld djnd jdjd dkjndjk</em></p>
    <hr>
        </div>
        <div class="col">
            <img src="enr23-03 - Copy.png">
        </div>
    </div>
</div>

</section>


<h1 class="touch">BOARD MEMBERS</h1>
<section id="section-board" class="board">
<div class="container">
    <div class="row">
    
        <div class="col" class="brd">
            <img src="img/realboss - Copy.jpg" id="facet">
            
            <h3>MAKO ADEWALE O.</h3><p class="Ade"><em>He is the CEO and Senior Software developer of Enrahlis Technology
                and solution. He is a native of Ogun state. He has a B.Sc degree in Computer Science from Brunel University, London, England and a
                Master's Degree in Business administration (MBA) in International Business from Cardiff Metropolitan University, Cardiff, Wales.
            Enrahlis Head Office is located at Lagos state, Nigeria</em></p>
        </div>


        <div class="col" class="brd">
            <img src="img/felicia.jpg" id="facet">
            
           <h3>ADEKOYA F. ADEROJU</h3> <p class="Ade"><em>He is the CEO and Senior Software developer of Enrahlis Technology
                and solution. He is a native of  state. He has a B.Sc degree in Computer Science from Brunel University, London, England and a
                Master's Degree in Business administration (MBA) in International Business from Cardiff Metropolitan University, Cardiff, Wales.
            Enrahlis Head Office is located at Lagos state, Nigeria</em></p>
        </div>
        
    
    
    <div class="col" class="brd">
        <img src="img/boardtwo.jpg" id="facet-one">
            <h3 class="tolu">AKINTUNDE A. TOLU</h3><p class="Akin"><em>She is an experienced Civil Engineer who hails from Osun state. She has an M.Sc and B.Tech
                in Civil Engineering from the University of Ibadan, Oyo State, Nigeria in 2016. She has supported in supervising building projects,
                construction of roads and drainages, and also worked as a part-time lecturer at the Civil Engineering dept of
                the Polytechnic, Oyo State, Nigeria. Due to her love for academics, she is still in the educational sector. Her core
                are discipline, integrity, hard work and excellence.</em></p>
        
    </div>


    <div class="col" class="brd">
        <img src="img/qsurv.jpg" id="facet">
            
        <h3>OMOTUASE A. JOHN</h3> <p class="Ade"><em>He had his HND in Quantity surveying at the Federal polytechnic, Ilaro, Ogun State 
            , and proceeded further to obtain diploma in Theological school at Holy Ghost Bible College, ori okuta Ikorodu Lagos State. He is presently the
            pastor in charge of solace in christ Evangelical Ministry. 
        </em></p>
    </div>
  
</div>
</div>
</section>

<!--<section class="board">
<div class="container">
    <div class="row">
    
        <div class="col" class="brd">
            <img src="img/realboss - Copy.jpg" id="facet">
                
            <h3>OBADARA TOBI</h3> <p class="Ade"> <em>He is the CEO and Senior Software developer of Enrahlis Technology
                and solution. He is a native of Ogun state. He has a B.Sc degree in Computer Science from Brunel University, London, England and a
                Master's Degree in Business administration (MBA) in International Business from Cardiff Metropolitan University, Cardiff, Wales.
            Enrahlis Head Office is located at Lagos state, Nigeria</em></p>
        </div>-->
    
    
    
    <div class="col" class="brd">
        <!--<img src="img/boardtwo.jpg" id="facet-one">
           <h3>AKINTUNDE TOLULOPE ADELOLA</h3> <p class="Akin">She is an experienced Civil Engineer who hails from Osun state. She has an M.Sc and B.Tech
                in Civil Engineering from the University of Ibadan, Oyo State, Nigeria in 2016. She has supported in supervising building projects,
                construction of roads and drainages, and also worked as a part-time lecturer at the Civil Engineering dept of
                the Polytechnic, Oyo State, Nigeria. Due to her love for academics, she is still in the educational sector. Her core
                are discipline, integrity, hard work and excellence. She was born on the 6th of April, 1987.</p>-->
        
    </div>
    <div class="col" class="brd">
        <!--<img src="img/realboss - Copy.jpg" id="facet">
            
        <h3>ADEWALE O. MAKO</h3><p class="Ade"><em>She is the CEO and Senior Software developer of Enrahlis Technology
            and solution. He is a native of  state. He has a B.Sc degree in Computer Science from Brunel University, London, England and a
            Master's Degree in Business administration (MBA) in International Business from Cardiff Metropolitan University, Cardiff, Wales.
        Enrahlis Head Office is located at Lagos state, Nigeria</em></p>-->
    </div>
    <div class="col" class="brd">
        <!--<img src="img/realboss - Copy.jpg" id="facet">
            
       <h3>ADEWALE O. MAKO</h3> <p class="Ade"><em>She is the CEO and Senior Software developer of Enrahlis Technology
            and solution. He is a native of  state. He has a B.Sc degree in Computer Science from Brunel University, London, England and a
            Master's Degree in Business administration (MBA) in International Business from Cardiff Metropolitan University, Cardiff, Wales.
        Enrahlis Head Office is located at Lagos state, Nigeria</em></p>-->
    </div>
</section>


        
<section id ="section-team">
    <h1 class="touch">TEAM MEMBERS</h1>

<div class="container">
    <div class="row">
        <div class="col" id="team-member">
            <img src="img/daniel.jpg" class="tmm">
            <h3>SOFTWARE DEVELOPER </h3>
            <p class="mem">Abiodun Daniel Openinsola had his OND in Computer science at the Redeemer's college of technology and management (RECTEM). Also 
                he is an intermediate web developer (frontend and backend) </p>
        </div>

        <div class="col" id="team-member">
            <img src="img/software.jpg" class="tmm">
            <h3>SOFTWARE DEVELOPER (FEMALE)</h3>
            <p class="mem">Akowonleyin Tolulope is an Undergraduate of University of Ilorin, Ilorin. She is currently studying Information and communication science
            She is a native of Kogi State. She is a frontend web developer.</p>
            </div>
           

        <div class="col" id="team-member">
            <img src="img/web.jpg" class="tmm">
            <h3>WEB DEVELOPER (HOD)</h3>
            <p class="mem">Orola Oluwaseyi is an undergraduate of Obafemi Awolowo University, Ile-Ife, Osun state. He is currently studying a 
                a B.Sc degree (Combined Honours) in Computer Science with Economics. He is a native of Ondo State. He is a web developer
            </p>
        </div>
        <div class="col" id="team-member">
            <img src="img/database.jpg" class="tmm">
            <h3>DATABASE ADMINISTRATOR (HOD)</h3>
            <p class="mem">Momoh Mary Nancy hails from Etsako west, Edo state. She has a HND degree in Computer Science from Auchi polytechnic, Auchi</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col" id="team-member">
            <img src="img/teamone.jpg" class="tmm">
            <h3>DATABASE ADMINISTRATOR (FEMALE)</h3>
            <p class="mem">Momoh Mary Nancy hails from Etsako west, Edo state. She has a HND degree in Computer Science from Auchi polytechnic, Auchi</p>
        </div>
        <div class="col" id="team-member">
            <img src="img/teamtwo.jpg" class="tmm">
            <h3>HARDWARE ENGINEER (HOD)</h3>
            <p class="mem">Kayode Toluwalase Samson hails from Osun state. He had his OND in computer science at the gateway polytechnic
                and proceeded further to obtain his B.Sc degree in computer science at  Harvarde college of science  Business and Management Study.
            </p>
        </div>
        <div class="col" id="team-member">
            <img src="img/graphic.jpg" class="tmm">
            <h3>GRAPHIC DESIGNER</h3>
            <p class="mem">Agbaje Iyanu is a student of the university of Ibadan, he is an addicted lover of God, minister of the Gospel of christ and 
                the creative director of clearcut Creation. He is a creative and graphic and brand designer, E-book creator and an affliate marketer.
            </p>
        </div>
        <div class="col" id="team-member">
            <img src="img/network.jpg" class="tmm">
            <h3>NETWORK ADMINISTRATOR</h3>
            <p class="mem">Oluposoye Emmanuel Opeyemi is a native of Osun State. He obtaines his B.Sc degree in computer science and education from
                Tai Solarin University of Education, Ijebu Ode, Ogun State. He is a young and vibrant young man who also has a Ministerial Assignment in the kingdom of God. 
            </p>
        </div>
    </div>
</div>

</section>



<!--div class="container">
    <div class="row">
        <div class="col" id="team-member">
            <img src="img/teamone.jpg" class="tmm">
            <h3>MOMOH MARY NANCY</h3>
            <p class="mem">Momoh Mary Nancy hails from Etsako west, Edo state. She has a B.Sc degree in Computer Science from Auchi polytechnic, Auchi</p>
        </div>
        <div class="col" id="team-member">
            <img src="img/teamone.jpg" class="tmm">
            <h3>MOMOH MARY NANCY</h3>
            <p class="mem">Momoh Mary Nancy hails from Etsako west, Edo state. She has a B.Sc degree in Computer Science from Auchi polytechnic, Auchi</p>
        </div>
        <div class="col" id="team-member">
            <img src="img/teamone.jpg" class="tmm">
            <h3>MOMOH MARY NANCY</h3>
            <p class="mem">Momoh Mary Nancy hails from Etsako west, Edo state. She has a B.Sc degree in Computer Science from Auchi polytechnic, Auchi</p>
        </div>
        <div class="col" id="team-member">
            <img src="img/teamone.jpg" class="tmm">
            <h3>MOMOH MARY NANCY</h3>
            <p class="mem">Momoh Mary Nancy hails from Etsako west, Edo state. She has a B.Sc degree in Computer Science from Auchi polytechnic, Auchi</p>
        </div>
    </div>
</<!--div>-->


            
    </body>
    <script src="./bootstrap-5.1.0-dist/js/bootstrap.bundle.min.js"></script>

</html>