<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1"> 
        <link rel ="stylesheet" type="text/css" href ="./bootstrap-5.1.0-dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href= "index.css">
        <link rel="stylesheet" type="text/css" href="font-awesome.css">
        <link rel="stylesheet"  type="text/css" href="loaders.css">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js">

        </script>
      
        
        <title>
            Enrahlis
        </title>
    </head>

    <body>
    
            <nav class="navbar navbar-expand-lg navbar-light" id="shift">
                <div class="navbar-brand" href="#"><img src="enr23-03 - Copy (2).png" id="brand"></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span id ="span-color" class="navbar-toggler-icon"></span>
                </button>
    
    
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" id="center" href="/"><em>HOME</em></a>
                    </li>
                    
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" id="about" data-bs-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false"><em>ABOUT US</em><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="aboutus" class="drop-one">CEO'S PROFILE</a></li>
                                <li><a href="aboutus" class="drop-one">COMPANY PROFILE</a></li>
                                <li><a href="aboutus" class="drop-one">BOARD MEMBERS</a></li>
                                <li><a href="aboutus" class="drop-one">TEAM MEMBERS</a></li>
                            </ul>

                         
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="about" data-bs-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false"><em>SERVICES</em><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="Services" class="drop-one">SOFTWARE DESIGN AND DEVELOPMENT</a></li>
                            <li><a href="Services" class="drop-one">WEB DESIGN AND DEVELOPMENT</a></li>
                            <li><a href="Services" class="drop-one">MOBILE APP DEVELOPMENT</a></li>
                            <li><a href="Services" class="drop-one">GRAPHIC DESIGNING</a></li>
                            <li><a href="Services" class="drop-one">DIGITAL MARKETING</a></li>
                            <li><a href="Services" class="drop-one">SEARCH ENGINE OPTIMIZATION</a></li>
                            <li><a href="Services" class="drop-one">INDUSTRIAL TRAINING</a></li>
                        </ul>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" id="about" data-bs-toggle="dropdown" role="button"
                          aria-haspopup="true" aria-expanded="false"><em>PRODUCT</em><span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="product" class="drop-one">ARTIFICIAL INTELLIGENCE</a></li>
                              <li><a href="product" class="drop-one">AUTOMATION</a></li>
                              <li><a href="product" class="drop-one">BUSINESS OPERATIONS</a></li>
                              <li><a href="product" class="drop-one">CLOUD COMPUTING</a></li>
                              <li><a href="product" class="drop-one">DATA AND ANALYTICS</a></li>
                              <li><a href="product" class="drop-one">IT INFRASTRUCTURE</a></li>
                              <li><a href="product" class="drop-one">SUPPLY CHAIN</a></li>
                          </ul>
                    <li class="nav-item">
                        <a class="nav-link" id="contact" href="#"><em>ADMIN</em></a>
                      </li>
                  </ul>
              </nav>


              <section class="admin-form">
                <h1 class = "admin-header">Login</h1>
              
                <div class="container">
                  <form class="admin" action="/admin" method="POST">
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">E-mail</label>
                        <input type="email" class="form-control" id="admin-detail" aria-describedby="emailHelp" placeholder="E-mail" name="email" id="email" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="admin-detail" placeholder="Password" name="password" id="password" required>
                      </div>
                     <a class="underline" href="#"><p class="admin-note">Forgot password?</p></a> 
                      <button type="submit" class="btn-submit">Submit</button>
                    </form>
                </div>

              </section>
             

              
              </body>
              
    <script src="./bootstrap-5.1.0-dist/js/bootstrap.bundle.min.js"></script>
   
              </html>
            
