<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1"> 
        <link rel ="stylesheet" type="text/css" href ="./bootstrap-5.1.0-dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href= "index.css">
        <link rel="stylesheet" type="text/css" href="font-awesome.css">
        <link rel="stylesheet"  type="text/css" href="loaders.css">
        
        <title>
            Enrahlis services
        </title>
    </head>

    <body>
            <nav class="navbar navbar-expand-lg navbar-light" id="shift">
                <div class="navbar-brand" href="#"><img src="enr23-03 - Copy (2).png" id="brand"></div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
    
    
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" id="center" href="/"><em>HOME</em></a>
                    </li>
                    
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" id="about" data-bs-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">ABOUT US<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="aboutus.html" class="drop-one">CEO'S PROFILE</a></li>
                                <li><a href="aboutus.html" class="drop-one">COMPANY PROFILE</a></li>
                                <li><a href="aboutus.html" class="drop-one">BOARD MEMBERS</a></li>
                                <li><a href="aboutus.html" class="drop-one">TEAM MEMBERS</a></li>
                            </ul>
                    
                    
                        
                        
         <!-- <div class="sub-menu-1">
            <ul class="navbar-nav  ml-auto">
                <li class="nav-item"><a href="">CEO's PROFILE</a></li>
                <li class="nav-item"><a href="#">COMPANY PROFILE</a></li>
                <li class="nav-item"><a href="aboutus.html">OUR TEAM</a></li>
            </ul>
        </div>-->
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="about" data-bs-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">SERVICES<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="Services.html" class="drop-one">SOFTWARE DESIGN AND DEVELOPMENT</a></li>
                            <li><a href="Services.html" class="drop-one">WEB DESIGN AND DEVELOPMENT</a></li>
                            <li><a href="Services.html" class="drop-one">MOBILE APP DEVELOPMENT</a></li>
                            <li><a href="Services.html" class="drop-one">GRAPHIC DESIGNING</a></li>
                            <li><a href="Services.html" class="drop-one">DIGITAL MARKETING</a></li>
                            <li><a href="Services.html" class="drop-one">SEARCH ENGINE OPTIMIZATION</a></li>
                            <li><a href="Services.html" class="drop-one">INDUSTRIAL TRAINING</a></li>
                        </ul>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" id="about" data-bs-toggle="dropdown" role="button"
                          aria-haspopup="true" aria-expanded="false">PRODUCT<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="product.html" class="drop-one">ARTIFICIAL INTELLIGENCE</a></li>
                              <li><a href="product.html" class="drop-one">AUTOMATION</a></li>
                              <li><a href="product.html" class="drop-one">BUSINESS OPERATIONS</a></li>
                              <li><a href="product.html" class="drop-one">CLOUD COMPUTING</a></li>
                              <li><a href="product.html" class="drop-one">DATA AND ANALYTICS</a></li>
                              <li><a href="product.html" class="drop-one">IT INFRASTRUCTURE</a></li>
                              <li><a href="product.html" class="drop-one">SUPPLY CHAIN</a></li>
                          </ul>
                    <li class="nav-item">
                        <a class="nav-link" id="center" href="#"><em>CONTACT</em></a>
                      </li>
                  </ul>
              </nav>

              <section>
                  <h1 class="touch">
                      SOFTWARE DESIGN AND DEVELOPMENT
                  </h1>
                  <div class="container">
                      <div class="row">
                          <div class="col">
                            <p><em>loremk kndkjf jhdjijf jdjifisj  jjsrid mjwgiue ,uihehki hkerjhw jhgygwieuhw kgueuhjajh  iugeygiuwvwij<br>
                                dhkdkj jhruigeuh gywhj9wb jhrygwuh wiirgwuyg jwuriuyhwu jriuwhk hwiukuwj jrhweh djhdkj jnejjhei rjheijhe<br>
                            hdjjd lorem ipsum is a man who wen threr to the place where he was supposed to be using tem then who is a <br>
                        dhfok wherr did they go t use the work form and the woman and her child is here now. <br>
                    loem ipsum lorem ep dum bun dun lorem ipsum oluymun konyt dhdfkd skjhld dknhfld kdjhfnlfd kdjkjhld djnd jdjd dkjndjk</em></p>
                          </div>
                          <div class="col">
                              <img src="img/software-developmemt.jpg">

                          </div>

             
              </section>

              <section>
                <h1 class="touch">
                    WEB DESIGN AND DEVELOPMENT
                </h1>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p><em>loremk kndkjf jhdjijf jdjifisj  jjsrid mjwgiue ,uihehki hkerjhw jhgygwieuhw kgueuhjajh  iugeygiuwvwij<br>
                                dhkdkj jhruigeuh gywhj9wb jhrygwuh wiirgwuyg jwuriuyhwu jriuwhk hwiukuwj jrhweh djhdkj jnejjhei rjheijhe<br>
                            hdjjd lorem ipsum is a man who wen threr to the place where he was supposed to be using tem then who is a <br>
                        dhfok wherr did they go t use the work form and the woman and her child is here now. <br>
                    loem ipsum lorem ep dum bun dun lorem ipsum oluymun konyt dhdfkd skjhld dknhfld kdjhfnlfd kdjkjhld djnd jdjd dkjndjk</em></p>
                        </div>
                        <div class="col">
                           <img src="img/images.jpg">
                        </div>
                    </div>
                </div>
               
            </section>

            <section>
                <h1 class="touch">
                    MOBILE APP DEVELOPMENT
                </h1>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p><em>loremk kndkjf jhdjijf jdjifisj  jjsrid mjwgiue ,uihehki hkerjhw jhgygwieuhw kgueuhjajh  iugeygiuwvwij<br>
                                dhkdkj jhruigeuh gywhj9wb jhrygwuh wiirgwuyg jwuriuyhwu jriuwhk hwiukuwj jrhweh djhdkj jnejjhei rjheijhe<br>
                            hdjjd lorem ipsum is a man who wen threr to the place where he was supposed to be using tem then who is a <br>
                        dhfok wherr did they go t use the work form and the woman and her child is here now. <br>
                    loem ipsum lorem ep dum bun dun lorem ipsum oluymun konyt dhdfkd skjhld dknhfld kdjhfnlfd kdjkjhld djnd jdjd dkjndjk</em></p>
                        </div>
                        <div class="col">
                            <img src="img/mobile-apps.jpg">
                        </div>
                    </div>
                </div>
              
            </section>
            <section>
                <h1 class="touch">
                    GRAPHIC DESIGNING
                </h1>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p><em>loremk kndkjf jhdjijf jdjifisj  jjsrid mjwgiue ,uihehki hkerjhw jhgygwieuhw kgueuhjajh  iugeygiuwvwij<br>
                                dhkdkj jhruigeuh gywhj9wb jhrygwuh wiirgwuyg jwuriuyhwu jriuwhk hwiukuwj jrhweh djhdkj jnejjhei rjheijhe<br>
                            hdjjd lorem ipsum is a man who wen threr to the place where he was supposed to be using tem then who is a <br>
                        dhfok wherr did they go t use the work form and the woman and her child is here now. <br>
                    loem ipsum lorem ep dum bun dun lorem ipsum oluymun konyt dhdfkd skjhld dknhfld kdjhfnlfd kdjkjhld djnd jdjd dkjndjk</em></p>
                        </div>
                        <div class="col">
                            <img src="img/graphic-design.jpg">

                    </div>
                </div>
               
            </section>
            <section>
                <h1 class="touch">
                    DIGITAL MARKETING
                </h1>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p><em>loremk kndkjf jhdjijf jdjifisj  jjsrid mjwgiue ,uihehki hkerjhw jhgygwieuhw kgueuhjajh  iugeygiuwvwij<br>
                                dhkdkj jhruigeuh gywhj9wb jhrygwuh wiirgwuyg jwuriuyhwu jriuwhk hwiukuwj jrhweh djhdkj jnejjhei rjheijhe<br>
                            hdjjd lorem ipsum is a man who wen threr to the place where he was supposed to be using tem then who is a <br>
                        dhfok wherr did they go t use the work form and the woman and her child is here now. <br>
                    loem ipsum lorem ep dum bun dun lorem ipsum oluymun konyt dhdfkd skjhld dknhfld kdjhfnlfd kdjkjhld djnd jdjd dkjndjk</em></p>
                        </div>
                        <div class="col">
                           <img src="img/Digital-Media-Marketing.jpg">
                        </div>
                    </div>
                    </div>
                    </section>
                    
           
            
            <section>
                <h1 class="touch">
                 SEARCH ENGINE OPTIMIZATION
                </h1>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p><em>loremk kndkjf jhdjijf jdjifisj  jjsrid mjwgiue ,uihehki hkerjhw jhgygwieuhw kgueuhjajh  iugeygiuwvwij<br>
                                dhkdkj jhruigeuh gywhj9wb jhrygwuh wiirgwuyg jwuriuyhwu jriuwhk hwiukuwj jrhweh djhdkj jnejjhei rjheijhe<br>
                            hdjjd lorem ipsum is a man who wen threr to the place where he was supposed to be using tem then who is a <br>
                        dhfok wherr did they go t use the work form and the woman and her child is here now. <br>
                    loem ipsum lorem ep dum bun dun lorem ipsum oluymun konyt dhdfkd skjhld dknhfld kdjhfnlfd kdjkjhld djnd jdjd dkjndjk</em></p>
                        </div>
                        <div class="col">
                           <img src="img/SEO.jpg">
                        </div>
                    </div>
                </div>
             
            </section>
            <section>
                <h1 class="touch">
                    INDUSTRIAL TRAINING
                </h1>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <p><em>loremk kndkjf jhdjijf jdjifisj  jjsrid mjwgiue ,uihehki hkerjhw jhgygwieuhw kgueuhjajh  iugeygiuwvwij<br>
                                dhkdkj jhruigeuh gywhj9wb jhrygwuh wiirgwuyg jwuriuyhwu jriuwhk hwiukuwj jrhweh djhdkj jnejjhei rjheijhe<br>
                            hdjjd lorem ipsum is a man who wen threr to the place where he was supposed to be using tem then who is a <br>
                        dhfok wherr did they go t use the work form and the woman and her child is here now. <br>
                    loem ipsum lorem ep dum bun dun lorem ipsum oluymun konyt dhdfkd skjhld dknhfld kdjhfnlfd kdjkjhld djnd jdjd dkjndjk</em></p>                     
                        </div>
                        <div class="col">
                           <img src="img/industrial -training.jpg">
                        </div>
                    </div>
                </div>
               
            </section>
            <section>
                
            </section>

            </body>

            <script src="./bootstrap-5.1.0-dist/js/bootstrap.bundle.min.js"></script>
            </html>
            

